.radio_button {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #514A7E;
    border-radius: 50%;
}

input[type="radio"]:checked + .radio_button {
    background-color: #514A7E;
}