.question {
    position: relative;
    margin-bottom: 150px;
}


.circle {
    position: absolute;
    top: -247px;
    right: -348px;
    width: 429px;
    height: 429px;
    border: 1px solid #514A7E;
    border-radius: 50%;
}


.question h2 {
    font-size: 40px;
    font-weight: 300;
    line-height: 35px;


}

.question h3 {
    font-family: Bad Script, sans-serif ;
    font-size: 40px;
    font-weight: 400;
    line-height: 35px;
    color: #514A7E;
    margin-left: 540px;
    margin-bottom: 60px;
}