.container {

}

.image_container {
    overflow: hidden;
}

.image {
    width: 278px;
    height: 319px;
    margin-bottom: 13px;
}

.price {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}