.App {
  width: 1440px;
  margin: 0 auto;
  background-color: #FFFDF5;
    overflow: hidden;
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
 }

.header {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding-top: 45px;
}

.searchContainer {
    display: flex;
    position: relative;
}

main {
    position: relative;
}

.circle {
    position: absolute;
    top: 673px;
    right: -348px;
    width: 429px;
    height: 429px;
    border: 1px solid #514A7E;
    border-radius: 50%;
}

footer {
    background-color: #514A7E;

}
